/* COMMON */

:root {
    --grey-100: #D7DCDE;
    --grey-200: #EEEEEE;
    --grey-300: #DFDFDF;
    --grey-310: #D5D5D5;
    --grey-320: #DBDBDB;
    --grey-330: #E1E1E1;
    --grey-400: #B4B9BB;
    --grey-500: #A6A6A6;
    --grey-500-transparent-20: rgba(166, 166, 166, .20);
    --grey-800: #4D4D4D;
    --grey-900: #283136;
    --grey-950: #231F20;
    --red-400: #FB565A;
    --red-600: #e74246;
    --red-700: #D7373B;
    --green-400: #00CA74;
    --green-450: #00BC6C;
    --green-600: #00AA62;
    --yellow-300: #EFC849;
    --yellow-700: #EAB534;
    --yellow-800: #E5A722;
    --white: #FFFFFF;
    --white-transparent-30: rgba(255, 255, 255, .30);
    --black: #000000;
    --black-transparent-30: rgba(0, 0, 0, .30);
    --black-transparent-60: rgba(0, 0, 0, .60);
}

.page-body {
    min-width: 950px;
    margin: 0;
    padding: 0;
    font-family: "Roboto", "Arial", sans-serif;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    color: var(--black);
    background-color: var(--white);
    min-height: 100%;
    display: grid;
    align-content: start;
    grid-template-rows: min-content 1fr min-content;
    outline: 5px solid rgba(255, 30, 0, 0.3);
    outline-offset: -5px;
}

a {
    text-decoration: none;
    color: var(--black);
}

.page {
    height: 100%;
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: inherit;
}

.list-style-none {
    list-style: none;
    margin: 0;
    padding: 0;
}

.main-header {
    background-color: var(--grey-200);
}

.main-header-logo:hover {
    opacity: 0.7;
}

.main-header-logo:active {
    opacity: 0.3;
}

.main-navigation {
    font-size: 16px;
    line-height: 30px;
    color: var(--black);
    text-transform: uppercase;
    font-weight: 500;
    outline: 5px solid rgba(0, 81, 255, 0.3);
    outline-offset: -5px;
    padding-top: 50px;
    padding-bottom: 50px;
    display: grid;
    align-items: center;
    grid-template-columns: min-content 1fr min-content;
    outline: 5px solid rgba(145, 255, 0, 0.3);
    outline-offset: -5px;
}

.container {
    width: 1160px;
    margin: 0 auto;
}

.site-navigation {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.site-navigation a:hover {
    color: var(--red-400);
}

.site-navigation a:active {
    color: var(--black-transparent-30);
}

.site-navigation a {
    color: var(--black);
}

.site-navigation a:hover, .site-navigation a:focus {
    background-color: var(--grey-200);
}

.site-navigation li {
    margin: 0 22px;
}

.main-footer {
    background-color: var(--white);
    outline: 5px solid rgba(255, 251, 0, 0.3);
    outline-offset: -5px;
}

.footer-location {
    background-color: var(--grey-100);
    z-index: 0;
    position: relative;
    overflow: hidden;
    min-height: 416px;
}

.footer-location h3 {
    text-transform: uppercase;
    font-size: 18px;
    line-height: 30px;
    font-weight: 700;
}

.footer-contacts {
    display: grid;
    grid-template-columns: 1fr 2fr;
    height: 217px;
}

.contacts-wrapper {
    padding-top: 54px;
    padding-bottom: 54px;
}

.contacts-map {
    object-fit: cover;
    min-width: 100%;
    min-height: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: -1;
}

.contacts-adress {
    width: 320px;
    padding: 50px;
    background-color: var(--white);
    outline: 5px solid rgba(162, 0, 255, 0.3);
    outline-offset: -5px;
}

.modal-title {
    font-size: 45px;
    line-height: 53px;
    font-weight: 700;
}

.modal-write-us input, .modal-write-us textarea {
    background-color: transparent;
    border: 2px solid var(--grey-100);
}

.modal-write-us input:hover, .modal-write-us textarea:hover {
    border: 2px solid var(--grey-400);
    color: var(--grey-400);
    ;
}

.modal-write-us input:focus, .modal-write-us textarea:focus {
    border: 2px solid var(--black);
    color: var(--black);
}

.modal-write-us :invalid {
    border: 2px solid var(--red-400);
    color: var(--red-400);
}

.social {
    outline: 5px solid rgba(75, 4, 71, 0.3);
    outline-offset: -5px;
    display: flex;
    justify-self: start;
    align-self: center;
    column-gap: 10px;
    align-items: center;
}

.social li {
    display: flex;
    border-radius: 50%;
    background-color: var(--grey-330);
    height: 81px;
    width: 81px;
    align-items: center;
    justify-content: center;
}

.friendship {
    background-color: var(--white);
    text-align: left;
    outline: 5px solid rgba(75, 4, 45, 0.3);
    outline-offset: -5px;
    justify-self: flex-start;
    align-self: center;
    padding: 0px;
    margin: 0px;
}

.footer-title {
    font-size: 36px;
    line-height: 36px;
    font-weight: 700;
    height: 81px;
}

.footer-text {
    font-size: 16px;
    line-height: 22px;
    font-weight: 400;
}

.button {
    font: inherit;
    text-align: center;
    color: var(--white);
    vertical-align: middle;
    text-transform: uppercase;
    background-color: var(--red-400);
    border: none;
    font-size: 16px;
    line-height: 18px;
    font-weight: 500;
}

.button:active {
    color: var(--white-transparent-30);
}

.button:hover {
    background-color: var(--red-600);
}

.button:active {
    background-color: var(--red-700);
}

.green-button {
    background-color: var(--green-400);
}

.green-button:hover {
    background-color: var(--green-450);
}

.green-button:active {
    background-color: var(--green-600);
}

.yellow-button {
    background-color: var(--yellow-300);
}

.yellow-button:hover {
    background-color: var(--yellow-700);
}

.yellow-button:active {
    background-color: var(--yellow-800);
}

.grey-button {
    color: var(--black);
}

.grey-button:hover {
    color: var(--black);
    background-color: var(--grey-300);
}

.grey-button:active {
    color: var(--black-transparent-30);
    background-color: var(--grey-310);
}

.page-button {
    color: var(--black);
}

.page-button:hover {
    color: var(--black);
    background-color: var(--grey-300);
}

.page-button:active {
    color: var(--black-transparent-30);
    background-color: var(--grey-320);
}

.filter-button, .page-button {
    background-color: var(--grey-200);
    color: var(--black);
}

.filter-button:hover, .page-button:hover {
    background-color: var(--grey-300);
    color: var(--black);
}

.filter-button:active, .page-button:active {
    background-color: var(--grey-310);
    color: var(--black-transparent-30);
}

.buy-button:active {
    color: var(--white);
}

.buttons-list a:not([href]) {
    color: var(--black);
    border: 3px solid var(--grey-320);
    background-color: var(--white);
}

.social-button {
    background-color: var(--grey-330);
}

/* /COMMON */

/* INDEX */

.features {
    background-color: var(--grey-200);
}

.features-list {
    background-color: var(--grey-200);
    margin-bottom: 80px;
    display: grid;
    outline: 5px solid rgba(0, 255, 255, 0.3);
    outline-offset: -5px;
}

.feature-item h3 {
    font-size: 55px;
    line-height: 55px;
    font-weight: 500;
}

.slider-buttons {
    text-align: center;
}

.slider .slider-button {
    background-color: var(--white);
    color: var(--white);
    border: 0;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    overflow: hidden;
}

.services {
    margin-bottom: 80px;
}

.service-list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-content: flex-start;
    column-gap: 100px;
    outline: 5px solid rgba(250, 8, 109, 0.3);
    outline-offset: -5px;
    padding-right: 60px;
}

.service-item {
    outline: 5px solid rgba(8, 73, 250, 0.3);
    outline-offset: -5px;
}

.service-item h3 {
    font-size: 24px;
    line-height: 30px;
    font-weight: 700;
    text-transform: uppercase;
}

.about-us {
    outline: 5px solid rgba(250, 8, 68, 0.3);
    outline-offset: -5px;
    display: grid;
    grid-template-columns: 2fr 1fr;
    column-gap: 100px;
    margin-bottom: 75px;
}

.metrics {
    align-self: flex-end;
}

.about-us-list {
    display: flex;
}

.us {
    font-size: 45px;
    line-height: 45px;
    font-weight: 500;
}

.studio {
    outline: 5px solid rgba(8, 250, 28, 0.3);
    outline-offset: -5px;
}

.metrics {
    outline: 5px solid rgba(7, 155, 93, 0.3);
    outline-offset: -5px;
    justify-self: end;
}

.about-us-item span {
    font-size: 45px;
    line-height: 64px;
    font-weight: 700;
}

.about-us-item sup {
    font-size: 26px;
    line-height: 40px;
    font-weight: 700;
}

.about-us-image {
    background-color: var(--white0);
}

.mini-title-index {
    font-size: 16px;
    line-height: 24px;
    font-weight: 700;
    text-transform: uppercase;
}

.partners {
    outline: 5px solid rgba(7, 138, 155, 0.3);
    outline-offset: -5px;
}

.partners-list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-auto-rows: 182px;
    column-gap: 120px;
    margin: 0 10px 82px 10px;
    justify-content: center;
    align-items: center;
}

.partners-list-item {
    opacity: 0.2;
}

.partners-list-item:hover {
    opacity: 1;
}

.partners-list-item:active {
    opacity: 0.1;
}

/* /INDEX */

/* CATALOG */

.main .page-title {
    font-size: 55px;
    line-height: 55px;
    font-weight: 500;
    text-align: center;
    background-color: var(--grey-200);
    margin: 0;
    padding-bottom: 108px;
    outline: 5px solid rgba(255, 0, 0, 0.7);
    outline-offset: -5px;
    grid-column: 1/-1;
}

.main-catalog {
    display: grid;
    grid-template-columns: 260px 1fr;
    column-gap: 140px;
    outline: 5px solid rgba(0, 255, 255, 0.3);
    outline-offset: -5px;
}

.filter {
    outline: 5px solid rgba(6, 66, 66, 0.3);
    outline-offset: -5px;
}

.filter-parameters {
    font-size: 16px;
    line-height: 20px;
    font-weight: 400;
    color: var(--grey-900);
}

.filter-parameter-item:active {
    opacity: 0.3;
}

.sort {
    display: flex;
}

.sort p:nth-child(5), .sort p:last-child {
    background-color: var(--grey-500-transparent-20);
    color: var(--grey-500-transparent-20);
    border: 0;
    width: 11px;
    height: 10px;
    overflow: hidden;
}

.sort-button-up, .sort-button-down {
    background-color: var(--grey-500-transparent-20);
    color: transparent;
}

.sort-button-up:hover, .sort-button-down:hover {
    background-color: var(--grey-500);
    color: transparent;
}

.sort-button-up:active, .sort-button-down:active {
    background-color: var(--grey-950);
    color: transparent;
}

.sort-item a:hover {
    color: var(--black-transparent-60);
}

.sort-item a:active {
    color: var(--black);
}

.sort-item {
    font-size: 14px;
    line-height: 18px;
    font-weight: 400;
    text-transform: uppercase;
}

.mini-title, .templates h3 {
    text-transform: uppercase;
    font-size: 18px;
    line-height: 30px;
    font-weight: 700;
}

.templates {
    display: grid;
}

.templates a:hover {
    color: var(--red-400);
}

.templates a:active {
    color: var(--black-transparent-30);
}

.templates p {
    font-size: 16px;
    line-height: 18px;
    font-weight: 400;
}

.cards-list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: min-content;
    column-gap: 40px;
    row-gap: 35px;
}

/* /CATALOG */