:root {
    --grey-100: #D7DCDE;
    --grey-200: #EEEEEE;
    --grey-300: #DFDFDF;
    --grey-310: #D5D5D5;
    --grey-320: #DBDBDB;
    --grey-400: #B4B9BB;
    --grey-800: #4D4D4D;
    --grey-900: #283136;
    --red-400: #FB565A;
    --red-600: #e74246;
    --red-700: #D7373B;
    --green-400: #00CA74;
    --green-450: #00BC6C;
    --green-600: #00AA62;
    --yellow-300: #EFC849;
    --yellow-700: #EAB534;
    --yellow-800: #E5A722;
    --white: #FFFFFF;
    --white-transparent-30: rgba(255, 255, 255, .30);
    --black: #000000;
    --black-transparent-30: rgba(0, 0, 0, .30);
    --black-transparent-60: rgba(0, 0, 0, .60);
}

body {
    min-width: 950px;
    margin: 0;
    padding: 0;
    font-family: "Roboto", "Arial", sans-serif;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    color: var(--black);
    background-color: var(--white);
}

a {
    text-decoration: none;
    color: var(--black);
}

.list-style-none {
    list-style: none;
}

.main-header-logo img:hover {
    opacity: 0.7;
}

.main-header-logo img:active {
    opacity: 0.3;
}

.main-navigation {
    font-size: 16px;
    line-height: 30px;
    color: var(--black);
    background-color: var(--grey-200);
    text-transform: uppercase;
    font-weight: 500;
}

.site-navigation a:hover {
    color: var(--red-400);
}

.site-navigation a:active {
    color: var(--black-transparent-30);
}

.site-navigation a {
    color: var(--black);
}

.site-navigation a:hover, .site-navigation a:focus {
    background-color: var(--grey-200);
}

.features-list {
    background-color: var(--grey-200);
}

.feature-item h3 {
    font-size: 55px;
    line-height: 55px;
    font-weight: 500;
}

.slider-button {
    background-color: var(--grey-200);
}

.service-item h3 {
    font-size: 24px;
    line-height: 30px;
    font-weight: 700;
    text-transform: uppercase;
}

.us {
    font-size: 45px;
    line-height: 45px;
    font-weight: 500;
}

.uppercase {
    font-size: 16px;
    line-height: 24px;
    font-weight: 700;
    text-transform: uppercase;
}

.about-us-item span {
    font-size: 45px;
    line-height: 64px;
    font-weight: 700;
}

.about-us-item sup {
    font-size: 26px;
    line-height: 40px;
    font-weight: 700;
}

.about-us-image {
    background-color: var(--white0);
    /*это здесь на случай, если картинка не загрузится - лайв №4 55мин*/
}

.partners {
    text-align: center;
}

.partners-list-item {
    opacity: 0.2;
}

.partners-list-item:hover {
    opacity: 1;
}

.partners-list-item:active {
    opacity: 0.1;
}

.button {
    font: inherit;
    text-align: center;
    color: var(--white);
    vertical-align: middle;
    text-transform: uppercase;
    background-color: var(--red-400);
    border: none;
    font-size: 16px;
    line-height: 18px;
    font-weight: 500;
}

.button:active {
    color: var(--white-transparent-30);
}

.button:hover {
    background-color: var(--red-600);
}

.button:active {
    background-color: var(--red-700);
}

.green-button {
    background-color: var(--green-400);
}

.green-button:hover {
    background-color: var(--green-450);
}

.green-button:active {
    background-color: var(--green-600);
}

.yellow-button {
    background-color: var(--yellow-300);
}

.yellow-button:hover {
    background-color: var(--yellow-700);
}

.yellow-button:active {
    background-color: var(--yellow-800);
}

.grey-button {
    color: var(--black);
}

.grey-button:hover {
    color: var(--black);
    background-color: var(--grey-300);
}

.grey-button:active {
    color: var(--black-transparent-30);
    background-color: var(--grey-310);
}

.page-button {
    color: var(--black);
}

.page-button:hover {
    color: var(--black);
    background-color: var(--grey-300);
}

.page-button:active {
    color: var(--black-transparent-30);
    background-color: var(--grey-320);
}

.filter-button, .page-button {
    background-color: var(--grey-200);
    color: var(--black);
}

.filter-button:hover, .page-button:hover {
    background-color: var(--grey-300);
    color: var(--black);
}

.filter-button:active, .page-button:active {
    background-color: var(--grey-310);
    color: var(--black-transparent-30);
}

.buy-button:active {
    color: var(--white);
}

.buttons-list a:not([href]) {
    color: var(--black);
    border: 3px solid var(--grey-320);
    background-color: var(--white);
}

.sort-item a {
    color: var(--black-transparent-30);
}

.sort-item a:hover {
    color: var(--black-transparent-60);
}

.sort-item a:active {
    color: var(--black);
}

.main-footer {
    color: inherit;
    font: inherit;
    background-color: var(--white);
}

.footer-location h3 {
    text-transform: uppercase;
    font-size: 18px;
    line-height: 30px;
    font-weight: 700;
}

.modal-title {
    font-size: 45px;
    line-height: 53px;
    font-weight: 700;
}

.modal-write-us input, .modal-write-us textarea {
    color: inherit;
    background-color: transparent;
    border: 2px solid var(--grey-100);
}

.modal-write-us input:hover, .modal-write-us textarea:hover {
    border: 2px solid var(--grey-400);
    color: var(--grey-400);
    ;
}

.modal-write-us input:focus, .modal-write-us textarea:focus {
    border: 2px solid var(--black);
    color: var(--black);
}

.modal-write-us :invalid {
    border: 2px solid var(--red-400);
    color: var(--red-400);
}

.friendship {
    color: inherit;
    font: inherit;
    background-color: var(--white);
    text-align: center;
}

.footer-title {
    font-size: 36px;
    line-height: 36px;
    font-weight: 700;
}

.footer-text {
    font-size: 16px;
    line-height: 22px;
    font-weight: 400;
}

.page-title {
    width: 55px;
    height: 55px;
    font-weight: 500;
    text-align: center;
    background-color: var(--grey-200);
}

.filter-parameters {
    font-size: 16px;
    line-height: 20px;
    font-weight: 400;
    color: var(--grey-900);
}

.filter-parameter-item:active {
    opacity: 0.3;
}

.mini-title, .templates h3 {
    text-transform: uppercase;
    font-size: 18px;
    line-height: 30px;
    font-weight: 700;
}

.templates a:hover {
    color: var(--red-400);
}

.templates a:active {
    color: var(--black-transparent-30);
}

.templates p {
    font-size: 16px;
    line-height: 18px;
    font-weight: 400;
}